<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photo Site</title>
</head>
<body>
     <h1>Landing Page</h1>

     for(let i = 0; i < photos.length; i++) {
         <a href=""><%= photos.name %></a>
     }

    //  The home (index) page should show all of the pictures that have been submitted.

    //  2-Model - Think about it: You don't need to worry about users here - it's all about the photos.

     <a href="/users/users">See all users</a>
     <a href="/users/new">Create an account</a>

</body>
</html>