<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photo Site</title>
</head>
<body>
     <h1>Photo Landing Page</h1>

    <% for(let i = 0; i < photos.length; i++) { %>
         <img src="<%= photos.url %>" alt="<%= photos.name %>"><br>
    <% } %>

     <a href="/users/users">See all users</a>
     <a href="/users/new">Create an account</a>
     <a href="/users/<$= user._id %>/edit">Update User</a>

</body>
</html>