<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photo Site</title>
</head>
<body>
     <h1>Users Home Page</h1>

    <% for(let i = 0; i < users.length; i++) { %>
        <a href="/users/<%=users[i]._id%>"><%= users[i].photos %></a>
   <% } %>

     <a href="/users/users">See all users</a>
     <a href="/users/new">Create an account</a>

</body>
</html>