<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
There should be a show page for the user's photos. On this page, you should be able to see the user's username, 
all pictures that this particular user has posted, and their photo information.

There should also be a button to either edit or delete the user.

2-Model - Think about it: Is the user’s id a part of the route? In which case there would be two params for one 
user’s particular photo. Would that look like users/1/8 or like photos/1/8?


</body>
</html>