<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Website Users</title>
</head>
<body>
    
<h1>Most Popular Users</h1>

<% for(i = 0; i < user.length; i++) { %>
    <li><%= user.username %></li><br>
        <%= user.photos %>
<% } %>
<br>
<a href="/">Home Page</a>
<a href="/users/new">Create an account</a>
</body>
</html>